# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [2]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [7]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [12]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [14]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [15]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [16]:
data.duplicated().sum()

71

In [17]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [23]:
children = data.pivot_table(index = 'children', values = 'debt', aggfunc = ['count','sum','mean'])
children['mean'] = children['mean'].round(3)
children.columns = children.columns.get_level_values(0)
children.sort_values(by = 'mean',ascending = False)

          count   sum   mean
children
4            41     4  0.098
2          2052   194  0.095
1          4808   444  0.092
3           330    27  0.082
0         14091  1063  0.075
5             9     0  0.000

**Вывод:** опираясь на сводную таблицу по количеству детей у заемщика и показателю возврата кредита в срок можно сделать выводы что лучшая статистика у людей, у которых вообще нет детей. Учитывая что их так же довольно много, относительно остальных категорий, на данные можно смело опираться. <br/>
У людей, которых есть дети, вне зависимости от их количества показатель возврата почти одинаковый. Думаю, что имеет роль скорее сам факт наличия или отсутсвия детей. Он и влияет на показатель. <br/>
Но так же есть люди у которых 5 детей, и у них никогда не было задолженности. Учитывая что эта выборка в разы меньше чем все остальные, по ней сложно делать достоверные выводы. Учитывая что в близкой категории, с 4 детьми, показатель выше чем во всех остальных категориях. Думаю, ввиду малого количества представителей в выборке, можно не учитывать эти значения. <br/>
Как итог: если у человека нет детей, он с большей вероятностью вернет кредит, чем тот, у кого есть хотя бы 1 ребенок.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Выведем сводную таблицу по соотношению семейного положения человека и среднего значения его показателя, по возврату кредита в срок. В таблице в столбце 'mean' чем выше значение, тем больше показатель того что человек имел задолжность.

In [24]:
family_status = data.pivot_table(index = 'family_status', values = 'debt', aggfunc = ['count','sum','mean'])
family_status['mean'] = family_status['mean'].round(3)
family_status.columns = family_status.columns.get_level_values(0)
family_status.sort_values(by = 'mean', ascending = False)

                       count  sum   mean
family_status
Не женат / не замужем   2796  273  0.098
гражданский брак        4134  385  0.093
женат / замужем        12261  927  0.076
в разводе               1189   84  0.071
вдовец / вдова           951   63  0.066

Опираясь на таблицу, можно сделать выводы, что самыми недобросовестными заемщиками оказались неженатые люди, и те кто проживает в гражданском браке. Дальше, почти на одном уровне идут люди которые находятся в браке либо были в нем и развелись, он уже меньше, но все равно относильно большой. И самый лучшая статистика по возврату кредитов в срок у людей со статусом 'вдовец/вдова'. 
Предположим что возврат кредита зависит от того, живет человек в одиночестве или с партнером. Выведем сводную таблицу по тем кто живет один и с кем-то и его показателем возврата в срок.

In [25]:
def loneliness(status):
    if status == 'женат / замужем' or status == 'гражданский брак':
        return 'вдвоем'
    else:
        return 'один'
data['status'] = data['family_status'].apply(loneliness)

percent_of_debt_single = data.groupby('status')['debt'].sum()[1]/data.groupby('status')['gender'].count()[1]
percent_of_debt_couple = data.groupby('status')['debt'].sum()[0]/data.groupby('status')['gender'].count()[0]

print(f'\nПроцент кредитов у пар {percent_of_debt_couple:.3%}')
print('Процент кредитов у одиноких {:.3%}\n'.format(percent_of_debt_single))

status = data.pivot_table(index = 'status', values = 'debt', aggfunc = ['count','sum','mean'])
status['mean'] = status['mean'].round(3)
status.columns = status.columns.get_level_values(0)
status.sort_values(by = 'mean', ascending = False)

Процент кредитов у пар 8.002%
Процент кредитов у одиноких 8.509%

        count   sum   mean
status
один     4936   420  0.085
вдвоем  16395  1312  0.080

**Вывод:** Если делать выводы по каждому из статусов семейного положения, то можно сказать что самыми недобросовестными заемщиками являются те, кто никогда не вступал в брак, вероятность того что они будут иметь долг по кредиту самая высокая из всех остальных групп и равна. Далее идут люди которые живут в браке либо разведены, их вероятность иметь уже заметно ниже. И лучший показатель возврата кредитов у овдовевших людей. Вывод: зависимость между семейным положением и возвратом кредита в срок есть.<br/>
Если же попытаться сделать выводы по тому, живет ли человек один или с кем-то, показатели очень близки друг к другу. Можно сделать вывод что между этими характеристиками зависимости нет.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [26]:
print('\nЗависимость между уровнем дохода и возвратом кредита в срок\n')
print('Е - самый низкий доход, А - самый высокий\n')
total_income = data.pivot_table(index = 'total_income_category', values = 'debt', aggfunc = ['count', 'sum', 'mean'])
total_income['mean'] = total_income['mean'].round(3)
total_income.columns = total_income.columns.get_level_values(0)
total_income.sort_values(by = 'mean', ascending = False)

Зависимость между уровнем дохода и возвратом кредита в срок

Е - самый низкий доход, А - самый высокий

                       count   sum   mean
total_income_category
E                         22     2  0.091
C                      15921  1353  0.085
A                         25     2  0.080
B                       5014   354  0.071
D                        349    21  0.060

**Вывод:** можно заметить, что из 5 групп, с разным уровнем дохода, три группы в десятки раз меньше чем две другие. Думаю что эти группы довольно малочисленны и можно сделать выводы по двум самым многочисленным. У нас остаются средняя группа и та, которая чуть выше среднего. Таким образом получаем, что в группе 'C' вероятность задолжать по кредиту выше, чем в группе 'B', и это различие составляет 0.013, что является довольно заметным различием.<br/>
На основе этого можно сделать такие выводы: если у человека доход от 50001 до 200000, то он скорее будет иметь задолженность по кредиту, чем тот, чей доход составляет от 200001 до 1000000.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [26]:
purpose_category = data.pivot_table(index = 'purpose_category', values = 'debt',aggfunc = ['count', 'sum','mean'])
purpose_category['mean'] = purpose_category['mean'].round(3)
purpose_category.columns = purpose_category.columns.get_level_values(0)
purpose_category.sort_values(by = 'mean',ascending = True)

                          count  sum   mean
purpose_category
операции с недвижимостью  10751  780  0.073
проведение свадьбы         2313  183  0.079
операции с автомобилем     4279  400  0.093
получение образования      3988  369  0.093

**Вывод:** люди добросовестнее выалачивают кредиты, взятые на операции с недвижимостью или на проведение свадьбы. А вот кредиты, которые брались на получение образования и операции с автомобилем, шанс того что по ним будет задолженность выше. <br/>
Предположу, что такое поведение связано с тем, что операции с недвижимостью и свадьбу люди планируют намного ответственнее и заблаговременно. Человек врятли возьмет кредит на покупку жилья или проведение свадьбы спонтанно, а также такие кредиты обычно берутся с расчетом на то, что выплачивать их будут несколько человек. <br/>
Что же касается автомобиля и образования, это вполне может быть импульсивное решение, либо же такой кредит может подкрепляться жизненными неудачами(дтп, внезапная поломка). Человек, который берет такой кредит, не всегда его планировал учитывая свои средства, и как следствие может вообще не иметь на данный момент средств на его выплату.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* В наших данных пропуски встречались в 2 столбцах: ежемесячный доход и общий трудовой стаж в днях.
В случае с ежемесячным доходом, предполагаю что многие затруднились ответить, так как какая-то заработка могла быть неофициальной, и не учитывалась налоговой. Взять для студентов и предпринимателей, у них нет такого понятия как зарплата.<br/>
А в случае с трудовым стажем, люди просто могли затрудниться в ответе -  ведь посчитать все рабочие дни за жизнь - дело не легкое, тем более если человек сменил несколько работ. Можно, опять же, взять в пример предпринимателей, работа которых не контролируется почти никем извне, а сами они врятли ведут подсчет рабочих дней.<br/>
Также, нельзя исключать человеческий фактор, люди могли просто случайно пропустить данные ячейки.<br/>
К тому же, у некоторых людей может просто не быть трудового стажа, и затрудняясь ответить они оставили этот пункт пустыми, вместо того чтобы написать 0.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:*  Ввиду того что мы делим людей на группы, учитывая их способ заработка, пропущенные значения в столбце 'ежемесячный доход' у безработного и работающего человека очевидно, будут разные. В доказательство можно вывести таблицу с медианным значениями для каждого способо заработка.

In [29]:
data_new = data.groupby('income_type')['total_income'].median()
print(data_new.head(20).sort_values())

income_type
в декрете           53829
студент             98201
пенсионер          118514
безработный        131339
сотрудник          142594
госслужащий        150447
компаньон          172357
предприниматель    499163
Name: total_income, dtype: int64

Допустим, пропуск образовался в строке с человеком, который сейчас в декрете, и в строке с предпринимателем. Если бы мы заполнили пропуски в этих двух категориях просто средним значением, то не попали бы близко ни в одну из категорий, потому что различие между ними очень весомое.<br/>
Медианное значение, в отличие от среднего, не особо сильно изменяется, из-за каких-то аномально больших или маленьких показателей, она скорее отражает самое часто встречающееся в выборке значение.
Замена медианным значением - более точный способ.

### Шаг 4: общий вывод.

Напишите ваш общий вывод.

#### Мы исследовали влияние некоторых из возможных причин на возврат кредита в срок и можем сделать выводы. <br/>
Исходные данные<br/><br/>
При считывании csv-файла с базой данных, были обнаружены пропуски в столбцах с информацией о трудовом стаже и ежемесячном заработке. Данные пропуски удалось компенсировать медианными значениями из той же категории людей, учитывая их статус занятости. Так мы получили наиболее близкие к реальным значения, и это не помешало дальнейшим выводам. <br/><br/>
Ответы на поставленные цели<br/><br/>
Целью всего исследования было узнать как влияют различные факторы, о занятости, семейном положении, уровне дохода и количеству детей на вероятность того, что кредит будет возвращен в срок. Зависимости были обнаружены, и вот выводы которые удалось получить:<br/><br/>
1. Есть ли зависимость между количеством детей и возвратом кредита в срок?<br/><br/>
В ходе анализа было обнаружено, что лучше всех выплачивают кредиты люди, у которых нет детей, а среди тех у кого дети есть, процент возможной задолженности значительно выше, но не сильно различается с изменением количества детей. Людей с 5 детьми оказалось достаточно мало, так что было принято решение не брать во внимание их показатели. <br/>Точные цифры представлены в таблице.
| Кол-во детей | Вероятность задолженности |
| ------------- | ------------- |
| 0  | 0,075  |
| 1  | 0,092  |
| 2  | 0,095  |
| 3  | 0,082  |
| 4  | 0,098  |
| 5  | 0,000  |

2. Есть ли зависимость между семейным положением и возвратом кредита в срок?<br/><br/>
Лучшие заемщики оказались те, кто когда либо вступал в законный брак или же находится в нем. А те, кто не состоит в браке на имеют заметно большую вероятность не выплатить в срок.<br/>Точные цифры представлены в таблице.
| Семейное положение | Вероятность задолженности |
| ------------- | ------------- |
| Не женат/не замужем| 0,098  |
| Гражданский брак  | 0,093  |
| женат/замужем  | 0,076  |
| в разводе  | 0,071  |
| вдовец/вдова  | 0,066  |


3. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?<br/><br/>
В данном пункте ввиду сильного различия между количеством людей в разных группах по уровню дохода, выводы были проведены только по двум самым значительным категориям, которые оказались средними по сумме уе в месяц. Как итог: чем выше уровень дохода, тем выше шанс что кредит будет выплачен в срок. <br/>Точные цифры представлены в таблице.
| Уровень дохода, у.е. в мес | Вероятность задолженности |
| ------------- | ------------- |
| 0 - 30000  | 0,091  |
| 50001 - 200000  | 0,085  |
| 1000001 и выше  | 0,080  |
| 200001 - 1000000 | 0,071  |
| 30001 - 50000  | 0,060  |
4. Как разные цели кредита влияют на его возврат в срок?
Анализируя цели, можно с уверенностью сказать что люди ответственнее выплачивают кредиты взятые на недвижимость и свадьбы, и менее ответственно те, которые взяты на образование и операции с автомобилем.<br/>Точные цифры представлены в таблице.
| Цель | Вероятность задолженности |
| ------------- | ------------- |
| операции с недвижимостью  | 0,073  |
| проведение свадьбы | 0,079  |
| операции с автомобилем  | 0,093  |
| получение образования | 0,093  |

<br/>
Общие рекомендации<br/><br/>
Если составлять собирательный портрет самого добросовестного заемщика, то это будет человек у которого нет детей, он когда-либо в своей жизни вступал в законный брак, его уровень дохода выше среднего, а целью его кредита является проведение свадьбы или операции с недвижимостью.<br/>